<%- @todos.each do |todo| %>
  <div class="well" style="background-color:<%= 'lightgreen' if todo.completed %>">
    <%= todo.description %>
  </div>
<% end %>
<%= link_to "Crear ToDo", todos_new_path, class: "btn btn-success" %>
