<div class="container text-center air">
  <h1>Lista de ToDos</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">No Completados</th>
        </tr>
      </thead>
      <tbody>
        <% @incompletos.each do |i| %>
          <tr>
            <td><p><%= i %></p></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-6 text-right">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">Completados</th>
        </tr>
      </thead>
      <tbody>
        <% @completos.each do |i| %>
          <tr>
            <td><p><%= i %></p></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
